@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "MainLayout";
}

<!DOCTYPE html>
<html>
    <head>
    <title>CrypWiki - Privacy</title>
    </head>

    <body>
        <div id="main">
            <div id="welcome">
                <h2 style="text-align: center;">Privacy Policy and Terms of Use.</h2>
            </div>
        </div>
    </body>
</html>
